@model DaneshkarShop.Domain.Entities.ContactUs.ContactUs
@{
    ViewData["Title"] = "نمایش پیام تماس باما";
}

<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>نمایش پیام تماس باما @Model.Username</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active"> نمایش پیام تماس باما   </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">پیام کاربر @Model.Username </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"> نام کاربری </label>
                                    <input type="text" asp-for="Username" readonly class="form-control" id="exampleInputEmail1" placeholder="نام کاربری  را وارد کنید">


                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1"> شماره تلفن   </label>
                                    <input type="text" asp-for="Mobile" readonly class="form-control" id="exampleInputEmail1" placeholder="شماره تلفن  را وارد کنید">


                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1"> متن پیام کاربر   </label>
                                    <textarea readonly class="form-control" id="exampleInputEmail1">
                                        @Model.Message</textarea>

                                </div>



                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <a asp-action="ContactUsList" asp-controller="ContactUs" asp-area="Admin" class="btn btn-warning">بازگشت به عقب </a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>


</div>

